$bg-grey: rgb(48, 48, 48);
$bg-orange: rgb(232, 99, 28);
$font-white: rgb(255, 255, 255);
$font-heading: 'Oswald', sans-serif;
$font-paragraph: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


@media screen and (min-width:769px) and (max-width:1024px) {

    header{
        display: grid;
        grid-template-rows: min-content;
        background-color: rgb(48, 48, 48);
        height: 103px;
        width: 100vw;
        // overflow: auto;
    
        ul{
            margin-left: 0px;
            display: grid;
            grid-template-rows: min-content;
            grid-template-columns: min-content min-content min-content min-content min-content;
        }
    
        .logo{
            margin-left: 20px;
            margin-top: 20px;
        }
    
        li{
            list-style-type: none;
            font-family: 'Oswald', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 3vw;
            margin-top: 4.5vh;
            margin-left: 40px;
            
        }
    
        .search{
            
            margin-left: 45px;
            margin-top: 35px;
        }
        
    }

    .section-1{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        overflow: auto;
    
        .sec-1-g1{
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
        }
    
        img{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            width: 100%;
            margin-top: 0px;
        }
    
        .sec-1-p{
            font-family: 'Montserrat', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 2.5vw;
            width: 380px;
            height: 94px;
            position: absolute;
            margin-left: 10px;
            margin-top: -35vh;
        }
    
        button{
            width: 200px;
            height: 45px;
            border: 0px;
            border-radius: 2px;
            background-color: rgb(232, 99, 28);
            position: absolute;
            margin-top: -15vh;
            margin-left: 10px;
    
            p{
            font-family: 'Oswald', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 3vw;
            }
        }
    
        h1{
            font-size: 5vw;
            font-family: 'Oswald', sans-serif;
            color: rgb(255, 255, 255);
            position: absolute;
            margin-left: 10px;
            margin-top: -45vh;
    
        }
    
    }

    .section-2{
        background-color: rgb(232, 99, 28);
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: min-content;
        height: 700px;
    
        
        .element-row{
            display: grid;
            grid-template-rows: min-content;
            grid-template-columns: min-content min-content min-content;
            margin-left: 0px;
            width: 100vw;
        }
    
        .sec2-cards{
            display: grid;
            grid-template-rows: min-content min-content min-content;
            grid-template-columns: min-content;
            height: 380px;
            width: 33.33vw;
            background-color: $bg-grey;
            margin-bottom: 10px;
            margin-top: 10px;

    
            img{
                height: 250px;
                width: 33.33vw;
            }
    
            h3{
                width: 33.33vw;
                justify-content: center;
                color: rgb(255, 255, 255);
                font-family: 'Oswald', sans-serif;
                font-size: 4vw;
            }
    
            p{
                color: rgb(255, 255, 255);
                font-family: 'Montserrat', sans-serif;
                width: 33.33vw;
                text-align: center;
                font-size: 2vw;
            }
    
    
        }
    
        .sec-2-g1{
            display: grid;
            grid-template-rows: min-content min-content;
            grid-template-columns: min-content;
            
    
            .sec-2-heading{
                font-family: 'Oswald', sans-serif;
                font-weight: 700;
                color: rgb(255, 255, 255);
                font-size: 9vw;
                justify-content: center;
                margin-top: 20px;
                width: 100vw;
            }
    
            p{
                font-family: 'Montserrat', sans-serif;
                color: rgb(255, 255, 255);
                width: 100vw;
                text-align: center;
                font-size: 3vw;
                margin-top: 10px; 
            }
        }
    
    }

    .section-3{
        display: grid;
        grid-template-columns: min-content;
        grid-template-rows: min-content;
        background-color: $bg-grey;
        width: 100vw;
        height: 600px;
    
        .element-row{
            display: grid;
            grid-template-rows: min-content;
            grid-template-columns: min-content min-content min-content;
            margin-left: 0px;
            width: 100vw;
        }
    
    
        .sec-3-headtxt{
            display: grid;
            grid-template-rows: min-content min-content;
            grid-template-columns: min-content;
            width: 100vw;
    
            h1{
                font-family: 'Oswald', sans-serif;
                font-weight: 600;
                color: rgb(255, 255, 255);
                font-size: 8vw;
                // margin-left: 110px;
                justify-content: center;
                margin-top: 20px;
                width: 100vw;
            }
    
            p{
                font-family: 'Montserrat', sans-serif;
                color: rgb(255, 255, 255);
                width: 100vw;
                font-size: 3vw;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100vw;
                text-align: center;
    
                
            }
        }
    
        .sec3-tag1{
            display: grid;
            grid-template-rows: min-content min-content min-content min-content;
            background-color: $bg-orange;
            height: 320px;
            width: 33.33vw;
            border-radius: 20px;
    
            img{
                display: grid;
                margin: auto;
                margin-top: 30px;
            }
    
            h3{
                color: $font-white;
                font-family: $font-heading;
                display: grid;
                justify-content: center;
                font-size: 3vw;
    
            }
    
            p{
                color: $font-white;
                font-family: $font-paragraph;
                width: 33.33vw;
                text-align: center;
                font-size: 2vw;
            }
    
            div{
                width: 120px;
                height: 45px;
                background-color: $bg-grey;
                margin-top: 10px;
    
                .price{
                    color: $font-white;
                    font-family: $font-paragraph;
                    width: 120px;
                    text-align: center;
                }
            }
        }
    
    
    
    }

    .section-4{
        display: grid;
        margin: auto;
    
        .col-2{
            display: grid;
            grid-template-rows: min-content;
            grid-template-columns: min-content min-content;
            height: 380px;
            width: 100vw;
            background-color: $bg-orange;
    
            img{
                width: 50vw;
                height: 55%;
            }
    
            div{
                background-color: $bg-orange;
                display: grid;
                grid-template-rows: min-content min-content min-content;
                row-gap: 15px;
                width: 50vw;
                margin-left: 0px;
                height: 384px;

               
                
                
    
                h2{
                    color: $font-white;
                    font-family: $font-heading;
                    font-size: 6vw;
                    justify-self: center;
                }
    
                p{
                    color: $font-white;
                    font-family: $font-paragraph;
                    font-size: 3vw;
                    text-align: center;
                }
    
                .btn{
                    font-family: $font-heading;
                    background-color: rgb(48, 48, 48);
                    width: 150px;
                    text-align: center;
                    padding-top: 7px;
                    box-sizing: border-box;
                    height: 60px;
                    justify-self: center;
                }
            }
        }
    }

    .section-5{
        display: grid;
        margin: auto;
    
        .col-2{
            display: grid;
            grid-template-rows: min-content;
            grid-template-columns: min-content min-content;
            height: 380px;
            width: 100vw;
            background-color: $bg-orange;
    
            img{
                width: 50vw;
                height: 54.8%;
            }
    
            div{
                background-color: $bg-orange;
                display: grid;
                grid-template-rows: min-content min-content min-content;
                row-gap: 15px;
                width: 50vw;
                height: 384px;
                margin-left: 0px;

               
                
                
    
                h2{
                    color: $font-white;
                    font-family: $font-heading;
                    font-size: 6vw;
                    justify-self: center;
                    
                }
    
                p{
                    color: $font-white;
                    font-family: $font-paragraph;
                    font-size: 3vw;
                    text-align: center;
                }
    
                .btn{
                    font-family: $font-heading;
                    background-color: rgb(48, 48, 48);
                    width: 150px;
                    text-align: center;
                    padding-top: 7px;
                    box-sizing: border-box;
                    height: 60px;
                    justify-self: center;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .section-6{
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: min-content;
        height: 520px;
        width: 100vw;
        background-color: $bg-grey;
        
    
        .sec6-d1{
            display: grid;
            grid-template-rows: min-content min-content;
            margin-top: 30px;
            width: 100vw;
            
            

    
            h2{
                font-family: $font-heading;
                color: $font-white;
                font-size: 7vw;
                width: 100vw;
                text-align: center;

                
            }
    
            p{
                color: $font-white;
                font-family: $font-paragraph;
                font-size: 3vw;
                margin-top: 20px;
                text-align: center;
                margin-left: 0px;
                width: 100vw;
            }
        }
    
        .col-element{
            display: grid;
            grid-template-rows: min-content min-content;
            grid-template-columns: min-content min-content min-content;
            column-gap: 80px;
            width: 100vw;
            margin-top: 50px;
            justify-content: center;
    
            :nth-child(4){
                margin-left: 18px;
                font-size: 3vw;
            }
    
            :nth-child(5){
                margin-left: 0px;
                font-size: 3vw;
                text-align: center;
            }
    
            :nth-child(6){
                margin-left: -8px;
                font-size: 3vw;
            }
    
            h3{
                color: $font-white;
                font-family: $font-heading;
                font-size: 6vw;
            }
        }
    
    
    
    
    }

    .section-7{
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: max-content;
        justify-items: center;
        
    
        img{
            width: 100vw;
            margin-top: 0px;
        }
    
    
        h2{
            font-family: $font-heading;
            color: $font-white;
            font-size: 8vw;
            position: absolute;
            margin-top: 210px;
        }
    
        p{
            font-family: $font-paragraph;
            font-size: 3vw;
            color: $font-white;
            position: absolute;
            text-align: center;
    
            span{
                margin-left: 45px;
            }
        }
    
        .sec7-imgeffect{
            margin-top: 0px;
            opacity: 0.4;
            display: none;
            }
    }

    .section-8{
        background-color: $bg-orange;
        height: 470px;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    
        .sec8-d1{
            display: grid;
            grid-template-rows: max-content max-content;
            justify-items: center;
            align-items: center;
            margin-top: 70px;
    
            h2{
                font-family: $font-heading;
                color: $font-white;
                font-size: 8vw;
            }
    
            p{
                text-align: center;
                font-family: $font-paragraph;
                font-size: 3vw;
                color: $font-white;
                margin-top: 10px;
            }
    
        
        }
    
        .sec8-d2{
            display: grid;
            grid-template-rows: max-content;
            grid-template-columns: max-content max-content;
            justify-content: center;
            margin-top: -50px;
            
            
            .sec8-input{
                width: 350px;
                height: 40px;
            }
    
            div{
                background-color: $bg-grey;
                color: $font-white;
                width: 150px;
                height: 44px;
                display: grid;
                justify-items: center;
                align-items: center;
                font-family: $font-heading;
                font-size: 2.6vw;
            }
        }
    }

    .section-9{
        display: grid;
        grid-template-rows: min-content min-content;
        grid-template-columns: min-content min-content;
        background-color: $bg-grey;
        width: 100vw;
        height: 1000px;
    
        .sec9-d1{
            display: grid;
            grid-template-rows: min-content min-content min-content;
            margin-top: 60px;
            width: 30vw;
            margin-left: 10vw;
            
            h4{
                color: $font-white;
                font-family: $font-paragraph;
                font-size:4vw;
            }
    
            p{
                color: $font-white;
                font-family: $font-paragraph;
                font-size: 3vw;
                margin-top: 30px;
            }
    
            .sec9-imgs{
                display: grid;
                grid-template-columns: min-content min-content min-content min-content;
                margin-top: 30px;
                width: 180px;
                justify-content: space-between;
    
                img{
                    width: 35px;
                    
                }
    
            }
    
        }
    
        .sec9-d2{
            display: grid;
            grid-template-rows: min-content min-content min-content min-content min-content min-content;
            margin-top: 60px;
            width: 30vw;
            margin-left: 10vw;
            
            h4{
                color: $font-white;
                font-family: $font-paragraph;
                font-size: 4vw;
                margin-bottom: 20px;
            }
    
            p{
                color: $font-white;
                font-family: $font-paragraph;
                font-size: 3vw;
                margin-top: 10px;
            }
        }
    
        .sec9-d3{
            display: grid;
            grid-template-rows: min-content min-content min-content min-content min-content min-content;
            margin-top: 60px;
            margin-left: 10vw;
            
            h4{
                color: $font-white;
                font-family: $font-paragraph;
                font-size: 4vw;
                margin-bottom: 20px;
            }
    
            p{
                color: $font-white;
                font-family: $font-paragraph;
                font-size: 3vw;
                margin-top: 10px;
            }
        }
    
        .sec9-d4{
            display: grid;
            grid-template-rows: min-content min-content min-content min-content;
            margin-top: 60px;
            margin-left: 10vw;
            
            h4{
                color: $font-white;
                font-family: $font-paragraph;
                font-size: 4vw;
                margin-bottom: 20px;
            }
    
            p{
                color: $font-white;
                font-family: $font-paragraph;
                font-size: 3vw;
                margin-top: 10px;
            }
        }
    
    
    
    
    }
}